<nav class="navbar">
    <ul>
        <li><a href="/">Página principal</a></li>
        <li><a href="/productos">Ver listado de nuestros productos</a></li>
        <li><a href="/productos/crear">Crear un nuevo producto</a></li>
    </ul>
</nav>